.wrap {
  height: calc(100vh - 150px);
  background-color: pink;
}

.top {
  display: flex;
  height: 50px;
  background-color: #ccc;
}
.top_left {
  padding-left: 20px;
  display: flex;
  column-gap: 8px;
  align-items: center;
  font-size: 20px;
}

.top_left::before {
  content: '';
  display: block;
  width: 4px;
  height: 20px;
  background: #1880ff;
}

.top_right {
  display: flex;
  column-gap: 8px;
  align-items: center;
  width: 300px;
  margin-left: 20px;
}

.add_button {
  margin-top: 10px;
  margin-left: 20px;
}

.content {
  display: flex;
  height: calc(100vh - 200px);
  background-color: pink;
}

.left {
  background-color: yellow;
  padding: 20px;
  flex: 1;
  overflow-y: auto;
}

.right {
  background-color: lightblue;
  padding: 20px;
  flex: 1;
  overflow-y: auto;
}
